In [33]:
import pandas as pd
data=[10,20,30,40]
v=pd.Series(data)
print(v)

0    10
1    20
2    30
3    40
dtype: int64

In [34]:
data={
    'Name':['Alice','Bob','Charlie'],
    'Age':[25,30,35],
    'City':['New York','los Angeles','Chicago']
}
df=pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  los Angeles
2  Charlie   35      Chicago

In [35]:
df=pd.read_csv("transactions.csv")
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [36]:
print(df.head(10))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [37]:
print(df.tail())

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None

In [71]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

print(df[['Name','City']])

In [74]:
print(df.iloc[1])

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [78]:
df['TransactionID']

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: TransactionID, dtype: int64

In [82]:
df[['TransactionID', 'Quantity']]

   TransactionID  Quantity
0              1         1
1              2         1
2              3         1
3              4         3
4              5         1
5              6         6
6              7         1
7              8         3
8              9         3
9             10         4

In [86]:
df.iloc[1]

TransactionID               2
TransactionDate    2011-05-26
UserID                    3.0
ProductID                   4
Quantity                    1
Name: 1, dtype: object

In [91]:
filtered_df=df[df['TransactionID']>3]
print(filtered_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [103]:
df.rename(columns={'UserID':'UID'},inplace=True)
print(df)

   TransactionID        Date  UID  ProductID  Quantity
0              1  2010-08-21  7.0          2         1
1              2  2011-05-26  3.0          4         1
2              3  2011-06-16  3.0          3         1
3              4  2012-08-26  1.0          2         3
4              5  2013-06-06  2.0          4         1
5              6  2013-12-23  2.0          5         6
6              7  2013-12-30  3.0          4         1
7              8  2014-04-24  NaN          2         3
8              9  2015-04-24  7.0          4         3
9             10  2016-05-08  3.0          4         4

In [105]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df.rename(columns={'Quantity':'Quant'},inplace=True)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1

In [111]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quant              0
dtype: int64

In [121]:
df['UserID'].fillna(df['UserID'].mean(),inplace=True)
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quant
0              1      2010-08-21  7.000000          2      1
1              2      2011-05-26  3.000000          4      1
2              3      2011-06-16  3.000000          3      1
3              4      2012-08-26  1.000000          2      3
4              5      2013-06-06  2.000000          4      1
5              6      2013-12-23  2.000000          5      6
6              7      2013-12-30  3.000000          4      1
7              8      2014-04-24  3.444444          2      3
8              9      2015-04-24  7.000000          4      3
9             10      2016-05-08  3.000000          4      4

/tmp/ipykernel_6781/1174315164.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['UserID'].fillna(df['UserID'].mean(),inplace=True)

In [125]:
df.dropna(inplace=True)
print(df)

   TransactionID TransactionDate    UserID  ProductID  Quant
0              1      2010-08-21  7.000000          2      1
1              2      2011-05-26  3.000000          4      1
2              3      2011-06-16  3.000000          3      1
3              4      2012-08-26  1.000000          2      3
4              5      2013-06-06  2.000000          4      1
5              6      2013-12-23  2.000000          5      6
6              7      2013-12-30  3.000000          4      1
7              8      2014-04-24  3.444444          2      3
8              9      2015-04-24  7.000000          4      3
9             10      2016-05-08  3.000000          4      4

In [133]:
import pandas as pd
df=pd.read_csv("transactions.csv")
df_sorted=df.sort_values(by=["Quantity","TransactionDate"],
ascending=[True,False])
print(df_sorted.head(9))

   TransactionID TransactionDate  UserID  ProductID  Quantity
6              7      2013-12-30     3.0          4         1
4              5      2013-06-06     2.0          4         1
2              3      2011-06-16     3.0          3         1
1              2      2011-05-26     3.0          4         1
0              1      2010-08-21     7.0          2         1
8              9      2015-04-24     7.0          4         3
7              8      2014-04-24     NaN          2         3
3              4      2012-08-26     1.0          2         3
9             10      2016-05-08     3.0          4         4

In [131]:
subset=df[df['Quantity']>1]
print(subset)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [141]:
foo=[True,False,True,False,True,False,True,False,True,False]
subset_rows=df[foo]
print(subset_rows)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3

In [145]:
subset=df[df['Quantity']>1][['TransactionID','TransactionDate']]
print(subset)

   TransactionID TransactionDate
3              4      2012-08-26
5              6      2013-12-23
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [147]:
columns_to_exclude=['Quantity','ProductId']
subset_columns_excluded=df[[col for col in df.columns if col not in columns_to_exclude]]
print(subset_columns_excluded)

   TransactionID TransactionDate  UserID  ProductID
0              1      2010-08-21     7.0          2
1              2      2011-05-26     3.0          4
2              3      2011-06-16     3.0          3
3              4      2012-08-26     1.0          2
4              5      2013-06-06     2.0          4
5              6      2013-12-23     2.0          5
6              7      2013-12-30     3.0          4
7              8      2014-04-24     NaN          2
8              9      2015-04-24     7.0          4
9             10      2016-05-08     3.0          4

In [169]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
dtype: object

In [171]:
df['Foo']=df['UserID']+df['ProductID']
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity  Foo
0              1      2010-08-21     7.0          2         1  9.0
1              2      2011-05-26     3.0          4         1  7.0
2              3      2011-06-16     3.0          3         1  6.0
3              4      2012-08-26     1.0          2         3  3.0
4              5      2013-06-06     2.0          4         1  6.0

In [189]:
df.loc[len(df)]=[10,'2013-06-06',10,8,4,9.0]

In [191]:
print(df)

    TransactionID      TransactionDate  UserID  ProductID  Quantity   Foo
0               1  2010-08-21 00:00:00     7.0          2         1   9.0
1               2  2011-05-26 00:00:00     3.0          4         1   7.0
2               3  2011-06-16 00:00:00     3.0          3         1   6.0
3               4  2012-08-26 00:00:00     1.0          2         3   3.0
4               5  2013-06-06 00:00:00     2.0          4         1   6.0
5               6  2013-12-23 00:00:00     2.0          5         6   7.0
6               7  2013-12-30 00:00:00     3.0          4         1   7.0
7               8  2014-04-24 00:00:00     NaN          2         3   NaN
8               9  2015-04-24 00:00:00     7.0          4         3  11.0
9              10  2016-05-08 00:00:00     3.0          4         4   7.0
10  TransactionID      TransactionDate  UserID  ProductID  Quantity   Foo
11             10           2013-06-06      10          8         4   9.0

In [195]:
df['Foo']=df['UserID']+df['ProductID']
print(df)

    TransactionID      TransactionDate  UserID  ProductID  Quantity  \
0               1  2010-08-21 00:00:00     7.0          2         1
1               2  2011-05-26 00:00:00     3.0          4         1
2               3  2011-06-16 00:00:00     3.0          3         1
3               4  2012-08-26 00:00:00     1.0          2         3
4               5  2013-06-06 00:00:00     2.0          4         1
5               6  2013-12-23 00:00:00     2.0          5         6
6               7  2013-12-30 00:00:00     3.0          4         1
7               8  2014-04-24 00:00:00     NaN          2         3
8               9  2015-04-24 00:00:00     7.0          4         3
9              10  2016-05-08 00:00:00     3.0          4         4
10  TransactionID      TransactionDate  UserID  ProductID  Quantity
11             10           2013-06-06      10          8         4

                Foo
0               9.0
1               7.0
2               6.0
3               3.0
4               6.0
5               7.0
6               7.0
7               NaN
8              11.0
9               7.0
10  UserIDProductID
11               18

In [197]:
df['NewColumn'] = df['Quantity'] * 2
print(df.head())

  TransactionID      TransactionDate UserID ProductID Quantity  Foo NewColumn
0             1  2010-08-21 00:00:00    7.0         2        1  9.0         2
1             2  2011-05-26 00:00:00    3.0         4        1  7.0         2
2             3  2011-06-16 00:00:00    3.0         3        1  6.0         2
3             4  2012-08-26 00:00:00    1.0         2        3  3.0         6
4             5  2013-06-06 00:00:00    2.0         4        1  6.0         2

EXCERSICE

In [233]:
#1. Print Summary of transaction data set
import pandas as pd
df=pd.read_csv("transactions.csv")
print("Summary of the transaction dataset:")
print(df.info())
print("\n")
print(df.describe())

Summary of the transaction dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    10 non-null     int64
 1   TransactionDate  10 non-null     object
 2   UserID           9 non-null      float64
 3   ProductID        10 non-null     int64
 4   Quantity         10 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 532.0+ bytes
None


       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [308]:
#2. Print Numbers of Attributes
num_attributes = df.shape[1]
print(f"Number of attributes (columns): {num_attributes}")

Number of attributes (columns): 5

In [239]:
#3. Print Numbers of Records
num_records = df.shape[0]
print(f"Number of records (rows): {num_records}")

Number of records (rows): 10

In [241]:
#4. Get the row names
row_names = df.index.tolist()
print("Row names (indices):", row_names)

Row names (indices): [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [245]:
#5. Get the column names
column_names = df.columns.tolist()
print("Column names:", column_names)

Column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity']

In [249]:
#6. View top 10 Records
top_10_records = df.head(10)
print("Top 10 records:")
print(top_10_records)

Top 10 records:
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [255]:
#7..Change the name of column “ Quantity” to “Quant”
df.rename(columns={"Quantity": "Quant"}, inplace=True)
print("\nColumn 'Quantity' renamed to 'Quant'.")
print("Updated column names:", df.columns.tolist())

Column 'Quantity' renamed to 'Quant'.
Updated column names: ['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant']

In [277]:
#8.Change the name of columns ProductID and UserID to PID and UID respectively
df.rename(columns={"Product_ID": "PID", "User_ID": "UID"}, inplace=True)
print("\nColumns 'ProductID' and 'UserID' renamed to 'PID' and 'UID'.")
print("Updated column names:", df.columns.tolist())

Columns 'ProductID' and 'UserID' renamed to 'PID' and 'UID'.
Updated column names: ['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quant']

In [288]:
#9.Order the rows of transactions by TransactionId
descending, if ascending then ascending=True
df_sorted_by_tid = df.sort_values(by="TransactionID", ascending=False)
print("Data sorted by TransactionID descending:")
print(df_sorted_by_tid)

Data sorted by TransactionID descending:
   TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [292]:
# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending
data_sorted_complex = df.sort_values(by=["Quant", "TransactionDate"], ascending=[True, False])
print("Data sorted by Quantity ascending, TransactionDate descending:")
print(data_sorted_complex)

Data sorted by Quantity ascending, TransactionDate descending:
   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [300]:
# 11. Set the column order of transactions
column_order = ["PID", "Quant", "TransactionDate", "TransactionID", "UID"]
data = df[column_order]
print(data)

   PID  Quant TransactionDate  TransactionID  UID
0    2      1      2010-08-21              1  7.0
1    4      1      2011-05-26              2  3.0
2    3      1      2011-06-16              3  3.0
3    2      3      2012-08-26              4  1.0
4    4      1      2013-06-06              5  2.0
5    5      6      2013-12-23              6  2.0
6    4      1      2013-12-30              7  3.0
7    2      3      2014-04-24              8  NaN
8    4      3      2015-04-24              9  7.0
9    4      4      2016-05-08             10  3.0

In [302]:
# 12. Make UID the first column of transactions
columns_reordered = ["UID"] + [col for col in data.columns if col != "UID"]
data = df[columns_reordered]
print(data)

   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6
6  3.0    4      1      2013-12-30              7
7  NaN    2      3      2014-04-24              8
8  7.0    4      3      2015-04-24              9
9  3.0    4      4      2016-05-08             10

In [304]:
# 13. Extracting arrays from a DataFrame - Get the 2nd column
second_column_array = df.iloc[:, 1].to_numpy()
print("Second column as array:", second_column_array)

Second column as array: ['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

In [306]:
# 14. Get the PID array
pid_array = df["PID"].to_numpy()
print("PID array:", pid_array)

PID array: [2 4 3 2 4 5 4 2 4 4]

In [356]:

# 15. Get the ProductID array using the following variable
productid_array = df["PID"].to_numpy()
print("ProductID array:", productid_array)

ProductID array: [2 4 3 2 4 5 4 2 4 4]

In [310]:
# 16. Row subsetting - subset rows 1, 3, and 6
subset_rows = df.iloc[[0, 2, 5]]
print("Subset rows 1, 3, and 6:")
print(subset_rows)

Subset rows 1, 3, and 6:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
2              3      2011-06-16  3.0    3      1
5              6      2013-12-23  2.0    5      6

In [312]:
# 17. Subset rows excluding 1, 3, and 6
subset_excluding_rows = df.drop(index=[0, 2, 5])
print("Subset excluding rows 1, 3, and 6:")
print(subset_excluding_rows)

Subset excluding rows 1, 3, and 6:
   TransactionID TransactionDate  UID  PID  Quant
1              2      2011-05-26  3.0    4      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [314]:
# 18. Subset the first three rows
first_three_rows = df.head(3)
print("First three rows:")
print(first_three_rows)

First three rows:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1

In [316]:
# 19. Subset the last two rows
last_two_rows = df.tail(2)
print("Last two rows:")
print(last_two_rows)

Last two rows:
   TransactionID TransactionDate  UID  PID  Quant
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [318]:
# 20. Subset rows excluding the last two rows
excluding_last_two_rows = df.iloc[:-2]
print("Excluding last two rows:")
print(excluding_last_two_rows)

Excluding last two rows:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3

In [320]:
# 21. Subset rows excluding the first three rows
excluding_first_three_rows = df.iloc[3:]
print("Excluding first three rows:")
print(excluding_first_three_rows)

Excluding first three rows:
   TransactionID TransactionDate  UID  PID  Quant
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [ ]:
# 22. Subset rows where Quantity > 1
subset_quantity_gt_1 = data[data["Quant"] > 1]
print("Subset rows where Quantity > 1:")
print(subset_quantity_gt_1)

In [322]:
# 23. Subset rows where UserID = 2
subset_userid_eq_2 = df[df["UID"] == 2]
print("Subset rows where UserID = 2:")
print(subset_userid_eq_2)

Subset rows where UserID = 2:
   TransactionID TransactionDate  UID  PID  Quant
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6

In [324]:
# 24. Subset rows where Quantity > 1 and UserID = 2
subset_combined = df[(df["Quant"] > 1) & (df["UID"] == 2)]
print("Subset rows where Quantity > 1 and UserID = 2:")
print(subset_combined)

Subset rows where Quantity > 1 and UserID = 2:
   TransactionID TransactionDate  UID  PID  Quant
5              6      2013-12-23  2.0    5      6

In [326]:

# 25. Subset rows where Quantity + UserID > 3
subset_sum_gt_3 = df[df["Quant"] + df["UID"] > 3]
print("Subset rows where Quantity + UserID > 3:")
print(subset_sum_gt_3)

Subset rows where Quantity + UserID > 3:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [334]:
# 26. Subset rows where an external array foo is True
import numpy as np
foo = np.array([True, False, True, False] * (len(df) // 4 + 1))[:len(df)]
subset_foo_true = df[foo]
print("Subset rows where foo is True:")
print(subset_foo_true)

Subset rows where foo is True:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
2              3      2011-06-16  3.0    3      1
4              5      2013-06-06  2.0    4      1
6              7      2013-12-30  3.0    4      1
8              9      2015-04-24  7.0    4      3

In [336]:

# 27. Subset rows where an external array bar is positive
bar = np.random.randint(-10, 10, size=len(df))
subset_bar_positive = df[bar > 0]
print("Subset rows where bar is positive:")
print(subset_bar_positive)

Subset rows where bar is positive:
   TransactionID TransactionDate  UID  PID  Quant
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [338]:
# 28. Subset rows where foo is TRUE or bar is negative
subset_foo_or_bar = df[foo | (bar < 0)]
print("Subset rows where foo is TRUE or bar is negative:")
print(subset_foo_or_bar)

Subset rows where foo is TRUE or bar is negative:
   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
4              5      2013-06-06  2.0    4      1
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3

In [340]:
# 29. Subset the rows where foo is not TRUE and bar is not negative
subset_not_foo_and_bar = df[~foo & ~(bar < 0)]
print("Subset rows where foo is not TRUE and bar is not negative:")
print(subset_not_foo_and_bar)

Subset rows where foo is not TRUE and bar is not negative:
   TransactionID TransactionDate  UID  PID  Quant
3              4      2012-08-26  1.0    2      3
5              6      2013-12-23  2.0    5      6
9             10      2016-05-08  3.0    4      4

In [342]:
# 30. Subset by columns 1 and 3
subset_columns_1_3 = df.iloc[:, [0, 2]]
print("Subset columns 1 and 3:")
print(subset_columns_1_3)

Subset columns 1 and 3:
   TransactionID  UID
0              1  7.0
1              2  3.0
2              3  3.0
3              4  1.0
4              5  2.0
5              6  2.0
6              7  3.0
7              8  NaN
8              9  7.0
9             10  3.0

In [344]:
# 31. Subset by columns TransactionID and TransactionDate
subset_specific_columns = df[["TransactionID", "TransactionDate"]]
print("Subset columns TransactionID and TransactionDate:")
print(subset_specific_columns)

Subset columns TransactionID and TransactionDate:
   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [346]:

# 33. Subset columns by a variable list of column names
cols_to_keep = ["PID", "TransactionDate"]
data_subset_cols = df[cols_to_keep]
print("Subset by variable list of columns:")
print(data_subset_cols)

Subset by variable list of columns:
   PID TransactionDate
0    2      2010-08-21
1    4      2011-05-26
2    3      2011-06-16
3    2      2012-08-26
4    4      2013-06-06
5    5      2013-12-23
6    4      2013-12-30
7    2      2014-04-24
8    4      2015-04-24
9    4      2016-05-08

In [348]:
# 34. Subset columns excluding a variable list of column names
cols_to_exclude = ["UID", "Quant"]
data_excluding_cols = df[[col for col in data.columns if col not in cols_to_exclude]]
print("Subset excluding variable list of columns:")
print(data_excluding_cols)

Subset excluding variable list of columns:
   PID TransactionDate  TransactionID
0    2      2010-08-21              1
1    4      2011-05-26              2
2    3      2011-06-16              3
3    2      2012-08-26              4
4    4      2013-06-06              5
5    5      2013-12-23              6
6    4      2013-12-30              7
7    2      2014-04-24              8
8    4      2015-04-24              9
9    4      2016-05-08             10

In [350]:
# 36. Convert the TransactionDate column to type Date
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"], errors='coerce')
print("Converted TransactionDate to datetime:")
print(data["TransactionDate"].head())

Converted TransactionDate to datetime:
0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
Name: TransactionDate, dtype: object

In [354]:
# 37. Insert a new column, Foo = UserID + ProductID
df["Foo"] = df["UID"] + df["PID"]
print("Data with new column Foo:")
print(data.head())

Data with new column Foo:
   UID  PID  Quant TransactionDate  TransactionID
0  7.0    2      1      2010-08-21              1
1  3.0    4      1      2011-05-26              2
2  3.0    3      1      2011-06-16              3
3  1.0    2      3      2012-08-26              4
4  2.0    4      1      2013-06-06              5